<form action="/places" method="post">
  <label for="cityName">Enter the city name:</label>
  <input id="cityName" name="cityName" type="text" required>
  <label for="description">Enter a description of this trip:</label>
  <input id="description" name="description" type="text" required>
  <label for="travelpartner">Who did you travel with? (If this was solo travel, enter none!)</label>
  <input id="travelpartner" name="travelpartner" type="text" required>
  <label for="imageURL">Enter a URL for a photo from the trip:</label>
  <input id="imageURL" name="imageURL" type="text">
  <button type="submit">Add to travel diary!</button>
</form>