<form action="/places" method="post">
  <label for="cityName">Enter the city name:</label>
  <input id="cityName" name="cityName" type="text">
  <button type="submit">Add to travel diary!</button>
</form>